<div class="grid-x header-border">
  <nav>
    <a class="button1" routerLink="/welcome">Welcome</a> |
    <a class="button2" routerLink="/worship">Worship</a> |
    <a class="button3" routerLink="/about">About</a> |
    <a class="button4" routerLink="/reviews">Reviews</a> |
    <a class="button5" routerLink="/protocol">Protocol</a> |
    <a class="button6" routerLink="/scheduling">Scheduling</a> |
    <a class="button7" routerLink="/commandments">Commandments</a> |
    <a class="button8" routerLink="/expectations">Expectations</a> |
    <a class="button9" routerLink="/covid-protocol">Covid-19 Protocol</a> |
  </nav>
</div>
