<meta name="viewport" content="width=device-width, minimum-scale=0.1">
<title>HAUS_OF_THE_COMMANDANT.png (800×2000)</title>
<!--<head><meta name="viewport" content="width=device-width, minimum-scale=0.1"><title>HAUS_OF_THE_COMMANDANT.png (800×2000)</title></head>-->
<body>
<picture id="backgroundImage" src="../assets/HAUS_OF_THE_COMMANDANT.png">
  <img src="../assets/HAUS_OF_THE_COMMANDANT.png"
       alt="background image"
       width="50%"
       style="object-fit: fill;"
  />
</picture>
    <p style="color: white">Text for texts sake?</p>
</body>
