.body {
  position: relative;
  text-align: center;
  color: white;
}

#backgroundImage {
  display: block;
  vertical-align: middle;
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  width: 50%;
}

/*.button1 {*/
/*  position: absolute;*/
/*  top: 8px;*/
/*  right: 47%;*/
/*}*/

/*.button2 {*/
/*  position: absolute;*/
/*  top: 8px;*/
/*  right: 50%;*/
/*}*/
